.RandomImage{
    display: flex;
    flex-direction: column;
  
  
  
}

.RandomImage_Container{
    display: grid;
    align-self: center;
    max-width: 60vw;
    
    padding: 5%;
    
    
}

.RandomImage_Container a{
    font-size: calc(12px + 1vw);
    font-display: auto;
}

.RandomImage_Container div{
    text-align: center;
   
   
}

.RandomImage_Container img{
    max-width: 50vw;
    max-height: 50vh;
}

.ButtonTitle{
    background-color: #5c76ea;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.ButtonTitle:hover{
    background-color: #5CEAD0;
}

.GetImageButton{
    width: 100%;
}




.Image_Information{
    font-size: calc(6px + 1vw);
    max-width: 60vh;
    overflow-wrap: break-word;
    padding: 0;
    margin: auto;

}

