.RandomImage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.RandomImage_Container{
    display: grid;
    grid-gap: 1%;
    width: 40%;
    padding: 5%;
}

.RandomImage_Container a{
    text-align: center;
    font-size: 2rem;
}

.RandomImage_Container div{
    text-align: center;
    font-size: 1.5rem;
   
}

.RandomImage_Container img{
    max-width: 100%;
    max-height: 100%;
}

.RandomImage_Image p{
    text-align: start;
}
.RandomImage_Image li{
    text-align: start;
}

.Post_Photo{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}

.Post_Photo img{
   
    max-height: 100%;
    max-width: 100%;
}

.GetImageButton{
    background-color: #5c76ea;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
}

.GetImageButton:hover{
    background-color: #5CEAD0;
}
