html, body{
    padding: 0;
    margin: 0;
    font:14px system-ui;
    background-color:#5CBDEA;
    font-family: Arial;
    width: 100%;
    min-height: 100%;
}

p{
    padding-left: 2%;
}
li{
    padding-left: 2%;
}

.Archive_Container{
 display: flex;
 justify-content: center;
}
.Archive{
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 1%;
    padding-left: 5%;
    padding-right: 5%;
}
@media screen and (max-width: 600px){
    .Archive{
        width: 60%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        padding-left: 5%;
        padding-right: 5%;
    }   
}
.Post_Container{
    display: grid;
    height: 40;
    grid-template-rows: 20% 80%;
}

.Post_Container > div{
   height: 100%;
   width: 100%;
   text-align: center;
}

.Post_Container img:hover{
    background-color: #5CEAD0;
}
.Post_Container p{
    font-size: large;
}
.Post_Container img{
    padding: 5%;
    max-height: 90%;
   max-width: 90%;
}

